/* .box1 {
  background: aqua;
  position: relative;
  display: grid;
}

.box2 {
  background-color: rgb(red, green, blue, 0);
  position: absolute;
  border: solid black;
  grid-area: 1/2;
} */

.video {
  display: none;
}

.container {
  position: relative;
}

.layer {
  position: absolute;
  border: solid black;
}

/* .contents {
  display: flex;
  flex-wrap: wrap;
  width: 520px;
} */
.item {
  /* margin-top: 325px; */
  margin-left: 20px;
  width: calc(100% / 4);
  text-align: center;
}
